[webservers]
web-1 ansible_host=51.250.9.240 fqdn=web-1.ru-central1.internal
web-2 ansible_host=51.250.67.118 fqdn=web-2.ru-central1.internal

[databases]
main ansible_host=51.250.93.0 fqdn=main.ru-central1.internal
replica ansible_host=62.84.116.195 fqdn=replica.ru-central1.internal

[storage]
storage ansible_host=51.250.73.250 fqdn=storage.ru-central1.internal
