# Local .terraform directories and files
**/.terraform/*
.terraform*

!.terraformrc

# .tfstate files
*.tfstate
*.tfstate.*

# own secret vars store.
*.tfvars
!*.tfvars.example
personal.auto.tfvars

# === SECRETS & KEYS ===
key.json
*.json
*.pem
*.key

*.log
